$back: rgb(0, 0, 0);
$text: rgb(255, 255, 255);
$mouse: rgb(255, 255, 255);
$headerColor: cadetblue;
html {
  overflow-x: hidden;
}

body {
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $text;
  padding: 16px;
  height: 10px;
  background-color: $back;
  font-family: var(--font-biz);
}

.hero {
  padding-top: 3.5rem;
  padding-bottom: 4rem;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $back;
  flex-direction: column;

  .h-container {
    margin: 0 auto;
    width: 100%;
    max-width: fit-content;
    margin-inline: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    .text {
      display: flex;
      flex-direction: column;
      position: relative;
    }
    .hero-text {
      display: flex;
      flex-direction: column;
      p {
        color: white;
        margin: 0;
        bottom: 0;
        font-family: var(--font-biz);
      }
    }
    .font {
      font-size: 4rem;
      line-height: 2.3;
      color: white;
      font-family: var(--font-biz);
    }

    .special-font {
      font-family: var(--font-kab);
    }
  }
}
.tooltip {
  position: absolute;
  background-color: cadetblue;
  top: -13px;
}
.model {
  max-width: 500px;
  max-width: fit-content;
  margin-inline: auto;
}

.about {
  margin-top: 30px;
  max-width: fit-content;
  margin-inline: auto;
  min-height: 100vh;
  padding: 0 clamp(1rem, 4vw, 2rem);
  h1 {
    color: $headerColor;
    font-family: var(--font-biz);
  }
  p {
    color: white;
    font-family: var(--font-biz);
  }
  li {
    color: white;
    font-family: var(--font-biz);
  }
}

.projects {
  margin-top: 30px;
  max-width: fit-content;
  margin-inline: auto;
  min-height: 50vh;
  padding: 0 clamp(1rem, 4vw, 2rem);
  h1 {
    color: $headerColor;
    font-family: var(--font-biz);
  }
  .projectCard {
    display: flex;
    flex-direction: column;
    padding: 10px;
    header {
      color: $headerColor;
      font-family: var(--font-biz);
      display: flex;
      justify-content: space-between;
    }
    p {
      color: white;
      margin: 1px;
      font-family: var(--font-biz);
    }
    footer {
      color: white;
      font-family: var(--font-biz);
    }
  }
}
.contact {
  margin-top: 30px;
  max-width: fit-content;
  margin-inline: auto;
  min-height: 50vh;
  padding: 0 clamp(1rem, 4vw, 2rem);
  h1 {
    color: $headerColor;
    font-family: var(--font-biz);
  }
  p {
    color: white;
    margin: 1px;
    font-family: var(--font-biz);
  }
  li {
    color: white;
    font-family: var(--font-biz);
  }
}
.loader {
  width: 100%;
  position: fixed;

  svg {
    width: 100%;
    height: 100%;

    path {
      stroke: $text;
      stroke-width: 1px;
      fill: $text;
    }
  }
}

.mouse {
  background-color: $mouse;
  height: 11px;
  width: 11px;
  position: fixed;
  border-radius: 50%;
  animation: pulse 2s infinite;

  &::before {
    content: "";
    left: 0;
    top: 0;
    margin-left: -100%;
    margin-top: -100%;
    display: block;
    width: 300%;
    height: 300%;
    background-color: rgb(240, 180, 227);
    border-radius: 50%;
    animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
  }
}

@keyframes pulse-ring {
  0% {
    transform: scale(0.33);
  }
  80%,
  100% {
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@media only screen and (min-width: 300px) {
  .hero {
    padding-top: 0rem;
    padding-bottom: 4rem;
    background-color: $back;

    .h-container {
      .font {
        font-size: 6vw;
        line-height: 1.3;
      }
    }
  }
}

@media only screen and (min-width: 500px) {
  .hero {
    padding-top: 0.5rem;
    .h-container {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}

@media only screen and (min-width: 800px) {
  .hero {
    padding-top: 1.5rem;
    .h-container {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}

@media only screen and (min-width: 1000px) {
  .hero {
    padding-top: 2rem;
    padding-bottom: 4rem;

    .h-container {
      .font {
        font-size: 3.4rem;
        line-height: 1.3;
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .hero {
    padding-top: 2rem;
    padding-bottom: 5rem;

    .h-container {
      .font {
        font-size: 3.4rem;
        line-height: 1.3;
      }
    }
  }
}
